#testGamePage {
    position: relative;
    margin: 2vw auto auto auto;
    width: 70vw;
    height: 45vw;
    background-color: #E7DB68;
}

#testGamePage .current_task {
    
    font-size: 3vw;
    width: 70%;
    height: 50%;
    background-color: #FFF8AD;
    /*opacity: 0.4;*/
    position: absolute;
    top: 10%;
    left: 15%;
}

#testGamePage .total_points,
#testGamePage .round_points {
    display : none;
}

#testGamePage .hidden_fish {
    opacity : 0;
}

#option1,
#option2,
#option3,
#option4 {
    font-size: 2.2vw;
    font-weight: bold;
    width: 22vw;
    height: 5vw;
    position: absolute;
    background-color: #FFF8AD;
    /*opacity: 0.4;*/
    text-align: center;
}

#option1 {
    top: 70%;
    left: 15%;
}

#option2 {
    top: 85%;
    left: 15%;
}

#option3 {
    top: 70%;
    left: 53%;
}

#option4 {
    top: 85%;
    left: 53%;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover {
    cursor: pointer;
} 