
    
.menu {
    left: 5vw;
    position: relative;
    z-index: 2;
    width: 80vw;
}

.stage {
    position: relative;
    width: 90vw;
    height: 100vh;
}

input {
    display: none;
}

.first {
    background-image: url(../images/map/first.jpg);
}

.second {
    background-image: url(../images/map/second.jpg);
}

.third {
    background-image: url(../images/map/third.jpg);
}

.fourth {
    background-image: url(../images/map/fourth.jpg);
}

.fourth:hover,
.third:hover,
.second:hover,
.first:hover {
    cursor: pointer;
}

.bookmark1:hover,
.bookmark2:hover,
.bookmark3:hover,
.bookmark4:hover {
    cursor: pointer;
    background: #6b0c36;
    background: rgba(107, 12, 54, 0.75);
    /* Выглядит полупрозрачным */
}


.btn_exit_map {
    font-family: fantasy;
    font-weight: bold;
    font-size: 2.5vw;
    color: black;
    left: 96%;
    display: none;
    color: #733397;
    position: absolute;
    top: 0.5%;
    width: 5%;
}

.btn_exit_game {
    font-family: fantasy;
    color: #fff;
    position: absolute;
    top: 0.5%;
    font-weight: bold;
    font-size: 4vw;
    left: 96%;
    width: 5%;
}

.btn_exit_map:hover,
.btn_exit_game:hover {
    color: red;
    cursor: pointer;
}

#first:checked~label div.first label.btn_exit_map,
#second:checked~label div.second label.btn_exit_map,
#third:checked~label div.third label.btn_exit_map,
#fourth:checked~label div.fourth label.btn_exit_map {
    display: block;
    cursor: pointer;
    top: 0%;
    left: 96%;
   
}


/*****************НАВИГАЦИЯ СТРАНИЧИЧЕК*****************************/

#mainPageButton:checked~#mainPage,
#birdGamePageButton:checked~#birdGamePage,
#fishGamePageButton:checked~#fishGamePage,
#spiderGamePageButton:checked~#spiderGamePage,
#testGamePageButton:checked~#testGamePage,
#infoPanelPageButton:checked~#infoPanelPage {
    display: block;
}

#mainPage,
#birdGamePage,
#fishGamePage,
#spiderGamePage,
#testGamePage,
#infoPanelPage {
    display: none;
}
