#third:checked~label #thirdMapFirstStep,
#third:checked~label #thirdMapSecondStep,
#third:checked~label #thirdMapThirdStep {
    display: block;
    position: absolute;
}
#third:checked~label #thirdMapFirstStep {
    top: 49%;
    left: 60%;
}

#third:checked~label #thirdMapSecondStep {
    top: 61%;
    left: 90.5%;
}

#third:checked~label #thirdMapThirdStep {
    top: 15%;
    left: 29%;
}