@media only screen and (min-width: 768px) {
body {
    background-image: url(../images/fond/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.stage {
    position: relative;
    width: 90vw;
    height: 98vh;
   
}

#nav{
	float:left;
	list-style:none;
	font-weight:bold;
	padding: 0px;	
	margin-bottom:10px;
}
#nav>li a:first-child {
	width: 300px;
}
#nav li a{
	text-align: left;
	font-size: 3vw;
}
.info-panel {
    margin: auto auto;
    padding: 20px;
    width: 60%;
    min-width: 85vw;
        font-size: 2vw;
    font-family: Arial;
    line-height: 120%;
    text-indent: 0.5vw;
    text-align: justify;
    background-color: #E7DB68;
    border-radius: 25px;
    position: relative;
}
    .first {
        transform: matrix(1.4, 0, 0.45, 1, 0, 280);
    }
    .second {
        transform: matrix(1.4, 0, 0.45, 1, 20, 210);
    }
    .third {
        transform: matrix(1.4, 0, 0.45, 1, 40, 140);
    }
    .fourth {
        transform: matrix(1.4, 0, 0.45, 1, 60, 70);
    }
    
    .fourth,
    .third,
    .second,
    .first {
        transform-origin: 0 0;
        position: absolute;
        max-width: 1500px;
        max-height: 1000px;
        width: 42vw;
        height: 28vw;
        min-width: 300px;
        min-height: 200px;
        border: 1px solid black;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: gray;
        top: 0vw;
        left: 13vw;
        margin: auto auto;
        z-index: 1;
        transition: transform 1s ease;
    }
    .bookmark1,
    .bookmark2,
    .bookmark3,
    .bookmark4 {
        width: 300px;
        font-size: 3vw;
        vertical-align: baseline;
        display: block;
        padding: 5px 5px;
        color: #fff;
        background: #333;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        /* Тень текста, чтобы приподнять его на немного */
        border-radius: 8px;
        font-weight: bold;
        position: absolute;
        top: 80px;
        left: 1vw;
    }
    .bookmark4 {
        top: 80px;
    }
    .bookmark3 {
        top: 150px;
    }
    .bookmark2 {
        top: 220px;
    }
    .bookmark1 {
        top: 290px;
    }
    #first:checked~label div.first,
    #second:checked~label div.second,
    #third:checked~label div.third,
    #fourth:checked~label div.fourth {
       transform: matrix(2, 0, 0, 2.3, 0, 0);
        z-index: 3;
        transition: transform 1s ease;
    }
    
   
}

