

.info-panel p, .info-panel ol {
    margin-top: 0;
    margin-bottom: 0;
    
}

.btn_exit_panel{
    font-family: fantasy;
    color: #fff;
    position: relative;
    font-weight: bold;
    font-size: 4vw;
    color: white;
    cursor: pointer;
    width: 5%;
    left: 96%;
}

.btn_exit_panel:hover {
     color: red;
     cursor: pointer;
   
}