@keyframes swim {
    0% {
        left: 0%;
    }
    50% {
        left: 87%;
    }
    100% {
        left: 0%;
    }
}

@keyframes swimback {
    0% {
        left: 87%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: 87%;
    }
}

@keyframes spinner {
    0% {
        transform: rotateY(0deg);
    }
    49% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-180deg);
    }
    99% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.example {
    position: absolute;
    top: 85%;
    left: 40%;
    width: 15vw;
    height: 5vw;
    background-color: white;
}

.sea_bottom {
    /*display: none;*/
    position: relative;
    margin: 2vw auto auto auto;
    width: 70vw;
    height: 45vw;
    background-image: url(../img/gamefish/seabottom.jpg);
    background-size: cover;
}

.fish1 div:nth-of-type(1) {
    top: 2%;
    position: absolute;
    animation: swim 12s linear infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamefish/fish1.png);
    background-size: cover;
}

.fish2 div:nth-of-type(1) {
    top: 20%;
    position: absolute;
    animation: swimback 12s linear infinite, spinner 12s linear infinite reverse;
    width: 8vw;
    height: 8vw;
    background-image: url(../img/gamefish/fish2.png);
    background-size: cover;
}

.fish3 div:nth-of-type(1) {
    top: 35%;
    position: absolute;
    animation: swim 12s linear infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamefish/fish3.png);
    background-size: cover;
}

.fish4 div:nth-of-type(1) {
    top: 55%;
    position: absolute;
    animation: swimback 12s linear infinite, spinner 12s linear infinite reverse;
    width: 8vw;
    height: 8vw;
    background-image: url(../img/gamefish/fish4.png);
    background-size: cover;
}

.task {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}

.fish1 div:nth-of-type(2),
.fish2 div:nth-of-type(2),
.fish3 div:nth-of-type(2),
.fish4 div:nth-of-type(2) {
    top: 2%;
    left: 3%;
    position: absolute;
    animation: swim 12s linear infinite, spinner 12s linear infinite;
    width: 10%;
    height: 10%;
    font-size: 5%;
    font-weight: bold;
}
