.forest {
    /*display: none;*/
    position: relative;
    margin: 2vw auto auto auto;
    width: 70vw;
    height: 45vw;
    background-image: url(../img/gamebird/forest.jpg);
    background-size: cover;
}
.bird1, 
.bird2,
.bird3,
.bird4 {
    position:relative;
    
    
}
.bird1:hover, 
.bird2:hover,
.bird3:hover,
.bird4:hover {
    cursor: pointer;
    
    
}
.bird1{
  top: 2%;  
}
.bird2{
    top: 20%;
}
    
.bird3{
    top: 39%;
}
.bird4 {
    top: 56%;
}

/*.hidden_bird{*/
/*    opacity: 0;*/
/*    transition: all 2s;*/
/*}*/

.bird1 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move 12s linear  infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamebird/bird4.png);
    background-size: cover;
}

.bird2 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move-back 12s linear 0.1s infinite, spinner 12s linear infinite reverse;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamebird/bird3.png);
    background-size: cover;
}

.bird3 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move 12s linear 0.05s infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamebird/bird2.png);
    background-size: cover;
}

.bird4 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move-back 12s linear infinite, spinner 12s linear infinite reverse;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamebird/bird1.png);
    background-size: cover;
}

.bird1 div:nth-of-type(2) {
    animation: horisontal-move 12s linear infinite;
    top: 2%;
    padding: 5.5% 6%;
}

.bird2 div:nth-of-type(2) {
    animation: horisontal-move-back 12s linear infinite;
    top: 20%;
    padding: 3.5% 4%;
  
}

.bird3 div:nth-of-type(2) {
    animation: horisontal-move 12s linear infinite;
    top: 35%;
    padding: 5.2% 7%;
}

.bird4 div:nth-of-type(2) {
    animation: horisontal-move-back 12s linear infinite;
    top: 55%;
    padding: 4.2% 4.7%;
}

.bird1 div:nth-of-type(2),
.bird2 div:nth-of-type(2),
.bird3 div:nth-of-type(2),
.bird4 div:nth-of-type(2) {
    left: 3%;
    position: absolute;
    width: 10%;
    height: 10%;
    font-size: 2vw;
    font-weight: bold;
    word-spacing:-0.5vw;
}
