.sea_bottom {
    /*display: none;*/
    position: relative;
    margin: 2vw auto auto auto;
    width: 70vw;
    height: 45vw;
    background-image: url(../img/gamefish/seabottom.jpg);
    background-size: cover;
}
.fish1, 
.fish2,
.fish3,
.fish4 {
    position:relative;
    
    
}
.fish1:hover, 
.fish2:hover,
.fish3:hover,
.fish4:hover {
    cursor: pointer;
    
    
}
.fish1{
  top: 2%;  
}
.fish2{
    top: 20%;
}
    
.fish3{
    top: 35%;
}
.fish4 {
    top: 55%;
}

.hidden_fish{
    opacity: 0;
    transition: all 2s;
}

.fish1 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move 12s linear  infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamefish/fish1.png);
    background-size: cover;
}

.fish2 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move-back 12s linear 0.1s infinite, spinner 12s linear infinite reverse;
    width: 8vw;
    height: 8vw;
    background-image: url(../img/gamefish/fish2.png);
    background-size: cover;
}

.fish3 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move 12s linear 0.05s infinite, spinner 12s linear infinite;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/gamefish/fish3.png);
    background-size: cover;
}

.fish4 div:nth-of-type(1) {
    
    position: absolute;
    animation: horisontal-move-back 12s linear infinite, spinner 12s linear infinite reverse;
    width: 8vw;
    height: 8vw;
    background-image: url(../img/gamefish/fish4.png);
    background-size: cover;
}

.fish1 div:nth-of-type(2) {
    animation: horisontal-move 12s linear infinite;
    top: 2%;
    padding: 5.5% 6%;
}

.fish2 div:nth-of-type(2) {
    animation: horisontal-move-back 12s linear infinite;
    top: 20%;
    padding: 3.5% 4%;
  
}

.fish3 div:nth-of-type(2) {
    animation: horisontal-move 12s linear infinite;
    top: 35%;
    padding: 5.2% 7%;
}

.fish4 div:nth-of-type(2) {
    animation: horisontal-move-back 12s linear infinite;
    top: 55%;
    padding: 4.2% 4.7%;
}

.fish1 div:nth-of-type(2),
.fish2 div:nth-of-type(2),
.fish3 div:nth-of-type(2),
.fish4 div:nth-of-type(2) {
    left: 3%;
    position: absolute;
    width: 10%;
    height: 10%;
    font-size: 2vw;
    font-weight: bold;
    word-spacing:-0.5vw;
}
