@keyframes horisontal-move {
    0% {
        left: 0%;
    }
    50% {
        left: 87%;
    }
    100% {
        left: 0%;
    }
}

@keyframes horisontal-move-back {
    0% {
        left: 87%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: 87%;
    }
}

@keyframes spinner {
    0% {
        transform: rotateY(0deg);
    }
    49% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-180deg);
    }
    99% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes vertical-move {
    0% {
        top: 56%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: 56%;
    }
}

@keyframes vertical-move-back {
    0% {
        top: 0%;
    }
    50% {
        top: 56%;
    }
    100% {
        top: 0%;
    }
}

.total_points,
.round_points,
.current_task {
    position: absolute;
    top: 86%;
    width: 8vw;
    height: 5vw;
    background-color: white;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
    border-radius: 5px;
}

.total_points {
    left: 5%;
}

.round_points {
    left: 80%;
}

.current_task {
    left: 28%;
    width: 30vw;
}

.correct {
    color: green;
    font-size: 3 vw;
    /*text-align: center;*/
    /*vertical-align: middle;*/
}