.room {
    /*display: none;*/
    position: relative;
    margin: 2vw auto auto auto;
    width: 70vw;
    height: 45vw;
    background-image: url(../img/gamespider/room.jpg);
    background-size: cover;
}

.spider1,
.spider2,
.spider3,
.spider4 {
    position: relative;
    display: inline-block;
}

.spider1:hover,
.spider2:hover,
.spider3:hover,
.spider4:hover {
    cursor: pointer;
}

.spider1 {
    height:100%;
    left: 3%;
}

.spider2 {
    height:100%;
    left: 30%;

}

.spider3 {
    height:100%;
    left: 58%;
}

.spider4 {
     height:100%;
    left: 85%;
}


/*.hidden_spider{*/


/*    opacity: 0;*/


/*    transition: all 2s;*/


/*}*/

.spider1 div:nth-of-type(1) {
    position: absolute;
    animation: vertical-move 12s linear infinite;
    width: 9vw;
    height: 9vw;
    background-image: url(../img/gamespider/spider1.png);
    background-size: cover;
}

.spider2 div:nth-of-type(1) {
    position: absolute;
    animation: vertical-move-back 12s linear 0.1s infinite;
    width: 9vw;
    height: 9vw;
    background-image: url(../img/gamespider/spider2.png);
    background-size: cover;
}

.spider3 div:nth-of-type(1) {
    position: absolute;
    animation: vertical-move 12s linear 0.05s infinite;
    width: 9vw;
    height: 9vw;
    background-image: url(../img/gamespider/spider3.png);
    background-size: cover;
}

.spider4 div:nth-of-type(1) {
    position: absolute;
    animation: vertical-move-back 12s linear infinite;
    width: 9vw;
    height: 9vw;
    background-image: url(../img/gamespider/spider4.png);
    background-size: cover;
}

.spider1 div:nth-of-type(2) {
    animation: vertical-move 12s linear infinite;
    top: 2%;
    padding: 5.5% 6%;
}

.spider2 div:nth-of-type(2) {
    animation: vertical-move-back 12s linear infinite;
    top: 20%;
    padding: 3.5% 4%;
}

.spider3 div:nth-of-type(2) {
    animation: vertical-move 12s linear infinite;
    top: 35%;
    padding: 5.2% 7%;
}

.spider4 div:nth-of-type(2) {
    animation: vertical-move-back 12s linear infinite;
    top: 55%;
    padding: 4.2% 4.7%;
}

.spider1 div:nth-of-type(2),
.spider2 div:nth-of-type(2),
.spider3 div:nth-of-type(2),
.spider4 div:nth-of-type(2) {
    left: 3%;
    position: absolute;
    width: 10%;
    height: 10%;
    font-size: 2vw;
    font-weight: bold;
    word-spacing: -0.5vw;
}
