#firstMapFirstStep,
#firstMapSecondStep,
#firstMapThirdStep {
    display: none;
}

.available {
    background-image: url(../img/marker/marker-purple.png);
}

.available:hover {
    background-image: url(../img/marker/marker-red.png);
}

.unavailable {
    background-image: url(../img/marker/marker-grey.png);
}

#first:checked~label #firstMapFirstStep,
#first:checked~label #firstMapSecondStep,
#first:checked~label #firstMapThirdStep {
    display: block;
    position: absolute;
}

#first:checked~label #firstMapFirstStep {
    top: 54%;
    left: 94%;
}

#first:checked~label #firstMapSecondStep {
    top: 81%;
    left: 73%;
}

#first:checked~label #firstMapThirdStep {
    top: 67%;
    left: 30%;
}
