#second:checked~label #secondMapFirstStep,
#second:checked~label #secondMapSecondStep,
#second:checked~label #secondMapThirdStep {
    display: block;
    position: absolute;
}

#second:checked~label #secondMapFirstStep {
    top: 20%;
    left: 84.8%;
}

#second:checked~label #secondMapSecondStep {
    top: 26%;
    left: 63.5%;
}

#second:checked~label #secondMapThirdStep {
    top: 62%;
    left: 7%;
}
