.start_third,
.number_third,
.finish_third {
    display: none;
}

.start_third {
    background-image: url(../img/marker/marker-purple.png);
}

.number_third {
    background-image: url(../img/marker/marker-grey.png);
}

.finish_third {
    background-image: url(../img/marker/marker-grey.png);
}

#third:checked~label div.third div.start_third {
    display: block;
    position: relative;
    top: 49%;
    left: 60%;
}

#third:checked~label div.third div.number_third {
    display: block;
    position: relative;
    top: 53%;
    left: 90.5%;
}

#third:checked~label div.third div.finish_third {
    display: block;
    position: relative;
    top: -4%;
    left: 29%;
}
