#third:checked~label #thirdMapFirstStep,
#third:checked~label #thirdMapSecondStep,
#third:checked~label #thirdMapThirdStep {
    display: block;
    position: absolute;
}

#second:checked~label #secondMapFirstStep {
    top: 49%;
    left: 60%;
}

#second:checked~label #secondMapSecondStep {
    top: 53%;
    left: 90.5%;
}

#second:checked~label #secondMapThirdStep {
    top: -4%;
    left: 29%;
}
