.start_fourth, .two_fourth, .three_fourth, .finish_fourth{
        display: none;

}
.start_fourth {
    background-image: url(../img/marker/marker-purple.png);
}

.two_fourth {
    background-image: url(../img/marker/marker-grey.png);
}

.finish_fourth {
    background-image: url(../img/marker/marker-grey.png);
}

#fourth:checked~label div.fourth div.start_fourth {
    display: block;
    position: relative;
    top: 77%;
    left: 34%;
}

#fourth:checked~label div.fourth div.two_fourth {
    display: block;
    position: relative;
    top: 21%;
    left: 65.5%;
}

#fourth:checked~label div.fourth div.finish_fourth {
    display: block;
    position: relative;
    top: 48%;
    left: 81%;
}