#fourth:checked~label #fourthMapFirstStep,
#fourth:checked~label #fourthMapSecondStep,
#fourth:checked~label #fourthMapThirdStep {
    display: block;
    position: absolute;
}

#fourth:checked~label #fourthMapFirstStep {
    top: 77%;
    left: 33%;
}

#fourth:checked~label #fourthMapSecondStep {
    top: 44%;
    left: 79.5%;
}

#fourth:checked~label #fourthMapThirdStep {
    top: 67%;
    left: 84%;
}
