@media only screen and (min-width: 960px) {
    .bookmark1,
    .bookmark2,
    .bookmark3,
    .bookmark4 {
        width: 20vw;
        font-size: 2.5vw;
    }
    #nav li a{
	font-size: 2.5vw;
}

}
 