@media only screen and (min-width: 1260px) {
    .bookmark1,
    .bookmark2,
    .bookmark3,
    .bookmark4 {
        width: 20vw;
        font-size: 2vw;
    }
    #nav li a{
	font-size: 2vw;
}
    #first:checked~label div.first,
    #second:checked~label div.second,
    #third:checked~label div.third,
    #fourth:checked~label div.fourth {
        transform: matrix(2, 0, 0, 2, 0, 0);
    }
}